html {
    font-size: 62.5%;
}

h1 {
    text-transform: uppercase;
}


/* Header */

#header {
    background-color: #3c455c;
    background-attachment: scroll, fixed;
    /*background-image: url("images/overlay.png"), url("../../images/bg.jpg");*/
    background-position: top left, top left;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto 100%;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 8em 4em 0 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: 25%;
}

#header strong,
#header b {
    color: #ffffff;
}

#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    color: #ffffff;
}

#header h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
    font-family: "Shadows Into Light";
}

#header .image.avatar img {
    margin: 0 0 1em 0;
    width: 6em;
    border-radius: 100%;
}


/* Footer */

#footer {
    bottom: 0;
    left: 0;
    padding: 0 4em 6em 0;
    position: fixed;
    text-align: right;
    width: 25%;
}

#footer .icons {
    margin: 1em 0 0 0;
}

#footer .icons li {
    float: right;
    margin-left: 0.5em;
    list-style: none;
}

#footer .icons li i {
    color: rgba(255, 255, 255, 0.4);
}

#footer .icons .label {
    display: none;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8em;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
}

#footer .copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    display: inline-block;
    line-height: 1em;
    margin-left: 0.75em;
    padding-left: 0.75em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}


/* Main */

#main {
    margin-left: calc(25% + 4em);
    margin-right: 4em;
}

#main>section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

#main>section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}


/* XLarge */

@media screen and (max-width: 1800px) {
    /* Basic */
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}


/* Large */

@media screen and (max-width: 1280px) {
    /* Header */
    #header {
        padding: 6em 3em 3em 3em;
        width: 25%;
    }
    #header h1 {
        font-size: 1.25em;
    }
    #header h1 br {
        display: none;
    }
    /* Footer */
    #footer {
        padding: 0 3em 5em 3em;
        width: 25%;
    }
    #footer .copyright li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
    }
}


/* Medium */

@media screen and (max-width: 980px) {
    /* Basic */
    h1 br,
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
        display: none;
    }
    /* List */
    ul.icons li .icon {
        font-size: 1.25em;
    }
    /* Header */
    #header {
        background-attachment: scroll;
        background-position: top left, center center;
        background-size: auto, cover;
        left: auto;
        padding: 1.5em 1em;
        position: relative;
        text-align: center;
        top: auto;
        width: 100%;
    }
    #header h1 {
        font-size: 1.75em;
    }
    #header h1 br {
        display: inline;
    }
    #header .image.avatar {
        display: none;
    }
    /* Footer */
    #footer {
        background-attachment: scroll;
        background-color: #3c455c;
        background-position: top left, bottom center;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
        bottom: 0;
        left: auto;
        padding: 1em 1em 1.5em 1em;
        position: fixed;
        text-align: center;
        width: 100%;
    }
    #footer .icons {
        margin: 0 0 1em 0;
    }
    #footer .copyright {
        margin: 0 0 1em 0;
    }
    #footer .copyright li {
        border-left-width: 1px;
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em;
    }
    /* Main */
    #main {
        margin: 0;
        padding: 1.5em 2em;
        width: 100%;
    }
}


/* Small */

@media screen and (max-width: 736px) {
    /* Basic */
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    /* Section/Article */
    section.special,
    article.special {
        text-align: center;
    }
    header.major h2 {
        font-size: 1.35em;
    }
    /* List */
    ul.labeled-icons li {
        padding-left: 2em;
    }
    ul.labeled-icons li h3 {
        line-height: 1.75em;
    }
    /* Header */
    #header {
        padding: 0.9em 0.6em;
    }
    #header h1 {
        font-size: 1.35em;
    }
    #header .image.avatar {
        display: none;
    }
    /* Footer */
    #footer {
        padding: 0.9em 0.6em;
    }
    /* Main */
    #main {
        padding: 0.9em 0.6em -1.1em 0.6em;
    }
    #main>section {
        margin: 0.9em 0 0 0;
        padding: 0.9em 0 0 0;
    }
    /* Poptrox */
    .poptrox-popup {
        border-radius: 0;
    }
    .poptrox-popup .nav-next:before,
    .poptrox-popup .nav-previous:before {
        margin-top: -1em;
    }
}


/* XSmall */

@media screen and (max-width: 480px) {
    /* List */
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        display: block;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li>* {
        margin: 0 !important;
        width: 100%;
    }
    ul.actions li>*.icon:before {
        margin-left: -2em;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
    /* Header */
    #header {
        padding: 0.5em 0.5em;
    }
    #header h1 br {
        display: none;
    }
    #header .image.avatar {
        display: none;
    }
    /* Footer */
    #footer .copyright li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
    }
}